#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainSection{
    flex-grow: 1;
    overflow: hidden;
}

 
.error404-img {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
  }

  .error404-texto {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    z-index: 1;
  }
  .error404-texto2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: lightgoldenrodyellow;
    z-index: 1;
  }
  .error404-contenido {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .truncado{
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  }

  .RecetaCard{
    height: 400px
  }

  .RecetaCard-img{
   height: 300px;
   object-fit: cover;
  }

  .RecetaCard-desc {
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }